body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: #aafed5;
    font-size: 30px;
    padding-left: 20px;
    font-weight: bold;
}

.navbar {
    background-color: #174664;
    color: #aafed5;
    
    padding-left: 50px;
    padding-right: 150px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

.hoved {
    background-color: #6DB1BF;
    padding: 0px;
    margin: 0px;
    display: flex;
    height: 90.2vh;
    
}